@import"variable.css";

.alert {
    display: flex;
    align-items: center;
    padding: var(--spacing-4);
    margin: var(--spacing-4);
    border-radius: var(--radius-md);
}

.info {
    background-color: var(--info-bg);
    border: 2px solid var(--info-border);
    color: var(--info-text);
}

.error {
    background-color: var(--error-bg);
    border: 2px solid var(--error-border);
    color: var(--error-text);
}