@import "variables.css";

/*BOUTONS*/

    /*apparences*/

.btn {
width: 96px;
height: 38px;
background-color: var(--primary-color);
color: var(--color-text-button-primary);
margin : var(--spacing-2);
border-radius: var(--radius-md);
border: none;
transition: background-color 0.3s ease;
cursor: pointer;
}
    /*States*/

        /*Hover*/

.btn:hover {
background-color: var(--primary-color-hover);
}   

        /*focus*/

.btn:focus-visible {
outline: 1px solid var(--color-text-button-primary);
outline-offset: -2px;
}
/*

        /*disabled*/

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
