@import"variable.css";

.form-container {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-4);
    margin: var(--spacing-4);
    border-radius: var(--radius-md);
    
}

form-container .input {
    width: 100%;

}

.form-container .btn {
    width: 100%;
    height: 38px;
}