@import "button.css";
@import "fonts.css";
@import "alert.css";
@import "input.css";
@import "form.css";
@import "variables.css";


*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    background-color: var(--color-bg);
    font-family: square-serif, sans-serif;
    margin: 0;
    padding: 10px 10px 0 10px;
    min-height: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}